/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    line-height:145%;*/
/*    color: #2e2e2e;*/
/*}*/

hr {
    height: 1px; /* 선의 높이를 조절합니다. */
    background-color: #dddddd; /* 선의 색상을 변경합니다. */
    border: none; /* 기본 테두리를 제거합니다. */
    margin-bottom: 40px;
}

.wrap {
    min-height:100%;
    position: relative;
}

/*.header {*/
/*    position: fixed;*/
/*    top: 0; left: 0;*/
/*    height: 80px;*/
/*    width: 100%;*/
/*    background-color: #fff;*/
/*    box-shadow: 0 -1px 0 #ddd inset;*/
/*    z-index: 1000;*/
/*}*/

#board-container {
    width: 1152px;
    margin: 120px auto 80px;
}

.editing-container {
    width: 720px;
    margin: 120px auto 80px;
}

.editing-container > form > button {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #FF5A64;
    border: none;
    border-radius: 4px;
    /*width: 240px;*/
    padding-left: 20px;
    padding-right: 20px;
    height: 48px;
}

.editing-container > form > button:hover {
    background-color: #E84953;

}

#contents {
    width: 780px;
    height: 100%;
    margin-right: 36px;
    margin-bottom: 80px;
    background-color: #fff;
    float: left;
}

#aside {
    width: 300px;
    height: 200px;
    margin-left: 36px;
    float: left;
    box-shadow: 0 0 0 1px #ddd inset;
    border-radius: 8px;
}

#aside-card {
    padding: 24px 26px;
}

#footer {
    width: 100%;
    height: 160px;
    background-color: #f6f6f6;
    clear: both;
    bottom: 0;
}

#board-title {
    margin-bottom: 20px;
}

#board-title > h1 {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 32px;
}

#board-categories {
    margin-bottom: 40px;
    margin-left: -30px;
}

#board-content {
    margin-bottom: 60px;
}

.board-contents {
    font-weight: bold;
    margin-bottom: 20px;
}

.board-contents-p {
    margin-bottom: 40px;
}

#join-period {
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#join-period > p {
    margin-bottom: -2px;
}

#d-day {
    color: #FF5A5A;
}

.aside-card-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -2px;
}



#club-join-btn {
    cursor: pointer;
    width: 248px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background-color: #FF5A5A;
    color: #fff;
}

#club-join-btn > span {
    color: #fff;
}



.board-reviews {
    margin-bottom: 40px;
}

.board-reviews > div {
    margin-bottom: 10px;
}

.board-reviews > p {
    margin-bottom: 20px;
    font-size: 16px;
}

.board-reviews > h4 {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}



#board-review > h3 {
    font-weight: bold;
    margin-bottom: 20px;
}

#board-review > h3 > span {
    color: #FF5A5A;
}

#board-content > h3, #board-review > h3, #board-recommand > h3 {
    font-size: 20px;
}

#board-title > h2 {
    font-size: 20px;
    font-weight: normal;
}

#board-categories > ul {
    list-style: none;
}

#board-categories > ul > li {
    display: inline-block;
}

#board-categories > ul > li > a {
    margin-right: 6px;
    padding: 9px 14px;
    font-size: 12px;
    font-weight: normal;
    color: #4b4b4b;
    background-color: #F1F4F7;
    border-radius: 25px;
}

#create-review {
    margin-bottom: 80px;
}

#create-review > textarea {
    width: 100%;
    font-size: 16px;
    text-align: left;
    height: 120px;
    padding: 16px;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px #ddd inset;
    border-radius: 8px;
    margin-bottom: 20px;
    resize: none;
}

#create-review > textarea:focus {
    outline: none;
}

#create-review > textarea::placeholder {
    color: #929292;
}

#create-review > button {
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background-color: #2e2e2e;
    border: none;
    border-radius: 4px;
    padding-right: 20px;
    padding-left: 20px;
    height: 40px;
}

.editing-content-s > textarea {
    height: 56px;
}

.editing-content-l > textarea {
    height: 120px;
}

.editing-contents > div {
    margin-bottom: 40px;
}

.editing-contents > div > p {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

.review-btn {
    font-size: 14px;
    color: #929292;
    margin-right: 10px;
    cursor: pointer;
}

.update-review {
    font-size: 14px;
    color: #929292;
    margin-right: 10px;
    cursor: pointer;
}

.delete-review {
    font-size: 14px;
    color: #929292;
    margin-right: 10px;
    cursor: pointer;
}

.editing-contents > div > textarea {
    width: 100%;
    font-size: 16px;
    text-align: left;
    padding: 16px;
    border: none;
    box-shadow: 0 0 0 1px #ddd inset;
    border-radius: 8px;
    resize: none;
}

.editing-review-textarea {
    width: 100%;
    font-size: 16px;
    text-align: left;
    padding: 16px;
    border: none;
    box-shadow: 0 0 0 1px #ddd inset;
    border-radius: 8px;
    resize: none;
}

.editing-contents > div > textarea:focus {
    outline: none;
}

.editing-contents > div > textarea::placeholder {
    color: #929292;
}

.editing-title {
    margin-bottom: 60px;
    margin-top: 60px;
    text-align: center;
}

.editing-title > h1 {
    font-size: 24px;
    font-weight: bold;
}

.card {
    width: 240px;
    height: 240px;
    float: left;
    box-shadow: 0 0 0 1px #ddd inset;
    border-radius: 8px;
    margin-right: 30px;

}

.card > div {
    padding: 20px 26px;
}

.card-categories > ul {
    list-style: none;
}

.card-categories > ul > li > a {
    font-size: 12px;
}

#board-recommand > h3 {
    margin-bottom: 40px;
}

#board-recommand > div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}


