@media screen and (max-width: 1200px){
    .header-menu{
        display: none;
    }
}
.logo{
    z-index:1
}
.defaultFontColor{
    color: #2E2E2E;
}
.header-menu{
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 0;
}
.header-menu ul{
    display: inline-block;
}
.header-menu li{
    display: inline-block;
    padding-top: 10px;
}
.header-menu .menu-a{
    position: relative;
    display: inline-block;
    background-color: #F6F6F6;
    width: 400px;
    height: 40px;
    padding: 0 40px;
    font-size: 18px;
    text-align: center;
    line-height: 100px;
}
.header-botton{
    margin:10px;
    cursor: pointer;
}
.header-right{
    z-index:1;
}
.search-input{
    position: absolute;
    top: 7px;
    left: 37px;
    width: 224px;
    height:23px;
    border: none;
    background-color: #F6F6F6;
}
.search_icon{
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: -32px;
}

#loginBtn{
    color:#FF5A5A;
}
.post-title{
    font-size: 24px;
    margin-bottom: 20px;
}
.moreSpan{
    margin-left:10px;
}
.moreBtn{
    font-size: 14px;
    color: #FF5A5A;
}
.card-body{
    border: 1px solid #ddd;
    border-radius: 8px;
}
.contact, .copyright, #credits {
    color: #8E8E8E;
}
/*carousel*/
.board-carousel-control-prev{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translate(-125%);
}
.board-carousel-control-next{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translate(125%);
}
.board-carousel-control-prev span,
.board-carousel-control-next span{
    width: 1.5rem;
    height: 1.5rem;
}

/* admin CSS*/
.refuseBtn{
    background-color:red;
    border-color: red;
}
.tdBtnAdmin{
    width: 100px;
}
/* admin CSS END*/

/* 모달 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
    position: relative;
}
.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 0;
    cursor: pointer;
}
#prompt-input{
    height: 200px;
    margin-bottom: 30px;
}
/* 버튼 스타일 */
.modalBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* 전체동아리 페이지 CSS */
.all-post-title{
    width: auto;
    height:35px;
    font-size: 24px;
    text-align: center;
}
.span-color{
    color: #FF5A5A;
}