@media screen and (max-width: 850px){
    .header-menu{
        display: none;
    }
}
.logo{
    z-index:1
}
.header-menu{
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 0;
}
.header-menu ul{
    display: inline-block;
}
.header-menu li{
    display: inline-block;
    padding-top: 10px;
}
.header-menu .menu-a{
    position: relative;
    display: inline-block;
    background-color: #F6F6F6;
    width: 400px;
    height: 40px;
    padding: 0 40px;
    font-size: 18px;
    text-align: center;
    line-height: 100px;
}
.header-botton{
    margin:10px;
    cursor: pointer;
}
.header-right{
    z-index:1;
}
.search-input{
    position: absolute;
    top: 7px;
    left: 37px;
    width: 224px;
    height:23px;
    border: none;
    background-color: #F6F6F6;
}
.search_icon{
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: -32px;
}

#loginBtn{
    color:#FF5A5A;
}
.post-title{
    font-size: 24px;
    margin-bottom: 20px;
}
.moreSpan{
    margin-left:10px;
}
.moreBtn{
    font-size: 14px;
    color: #FF5A5A;
}
.card-body{
    border: 1px solid #ddd;
    border-radius: 8px;
}
.contact, .copyright, #credits{
    color:#8E8E8E;
}