<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>crew.z Mypage</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link th:replace="~{/module/commonCss}">

</head>

<body>
<link href="assets/css/default.css" rel="stylesheet">
<!-- ======= Header ======= -->
<div th:replace="~{/include/header}"></div>
<!-- End Header -->

<!-- ======= Body ======= -->
<!-- 구성하고자 하는 화면 설계 -->
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a th:href="@{/main}">Home</a></li>
                    <li>Mypage</li>
                </ol>
            </div>

        </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section class="mypage-main">
        <div class="container">

            <div class="row gy-5 gx-lg-5">

                <div class="col-lg-4">

                    <div class="info">
                        <h3>닉네임</h3>
                        <div class="info-item d-flex">
                            <i class="bi bi-geo-alt flex-shrink-0"></i>
                            <div>
                                <h4>Name: 이승인</h4>
                            </div>
                        </div>

                        <div class="info-item d-flex">
                            <i class="bi bi-envelope flex-shrink-0"></i>
                            <div>
                                <h4>Email: mona@example.com</h4>
                            </div>
                        </div>

                        <div class="info-item d-flex">
                            <i class="bi bi-phone flex-shrink-0"></i>
                            <div>
                                <h4>Tel: 010-1234-5678</h4>
                            </div>
                        </div>


                </div>

            </div>
            </div>
        </div>
    </section><!-- End Inner Page -->

</main><!-- End #main -->
<!-- End Body -->

<!-- ======= Footer ======= -->
<div th:replace="~{/include/footer}"></div>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<link th:replace="~{/module/commonJs}">

</body>

</html>