<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>동아리 상세 페이지</title>
    <link rel="stylesheet" href="/assets/css/board.css" />
</head>
<body>
<div id="wrap">
    <div id="header">header</div>
    <div id="container">
        <div id="contents">
            <div id="board-title">
                <h1>크로스핏 동아리</h1>
                <h2>퇴근하고 크로스핏하는 동아리입니다</h2>
            </div>
            <div id="board-categories">
                <ul>
                    <li><a>카테고리1</a></li>
                    <li><a>카테고리2</a></li>
                    <li><a>카테고리3</a></li>
                </ul>
            </div>
            <div id="board-content">
                <h3 class="board-contents">크로스핏 동아리: 어떤동아리인가요?(동아리소개)</h3>
                <p class="board-contents-p">
                (해당 동아리에 대한 설명)
                한 회계연도를 넘어 계속하여 지출할 필요가 있을 때에는 정부는 연한을 정하여 계속비로서 국회의 의결을 얻어야 한다. 국회의원은 국회에서 직무상 행한 발언과 표결에 관하여 국회외에서 책임을 지지 아니한다.
                감사원은 원장을 포함한 5인 이상 11인 이하의 감사위원으로 구성한다. 대통령의 선거에 관한 사항은 법률로 정한다. 국군은 국가의 안전보장과 국토방위의 신성한 의무를 수행함을 사명으로 하며, 그 정치적 중립성은 준수된다.
                </p>
                <h3 class="board-contents">활동내용</h3>
                <p class="board-contents-p">
                    (해당 동아리에 대한 설명)
                    한 회계연도를 넘어 계속하여 지출할 필요가 있을 때에는 정부는 연한을 정하여 계속비로서 국회의 의결을 얻어야 한다. 국회의원은 국회에서 직무상 행한 발언과 표결에 관하여 국회외에서 책임을 지지 아니한다.
                    감사원은 원장을 포함한 5인 이상 11인 이하의 감사위원으로 구성한다. 대통령의 선거에 관한 사항은 법률로 정한다. 국군은 국가의 안전보장과 국토방위의 신성한 의무를 수행함을 사명으로 하며, 그 정치적 중립성은 준수된다.
                </p>
                <h3 class="board-contents">정기모임</h3>
                <p class="board-contents-p">
                    (해당 동아리에 대한 설명)
                    한 회계연도를 넘어 계속하여 지출할 필요가 있을 때에는 정부는 연한을 정하여 계속비로서 국회의 의결을 얻어야 한다. 국회의원은 국회에서 직무상 행한 발언과 표결에 관하여 국회외에서 책임을 지지 아니한다.
                    감사원은 원장을 포함한 5인 이상 11인 이하의 감사위원으로 구성한다. 대통령의 선거에 관한 사항은 법률로 정한다. 국군은 국가의 안전보장과 국토방위의 신성한 의무를 수행함을 사명으로 하며, 그 정치적 중립성은 준수된다.
                </p>
                <h3 class="board-contents">기타</h3>
                <p class="board-contents-p">
                    (해당 동아리에 대한 설명)
                    한 회계연도를 넘어 계속하여 지출할 필요가 있을 때에는 정부는 연한을 정하여 계속비로서 국회의 의결을 얻어야 한다. 국회의원은 국회에서 직무상 행한 발언과 표결에 관하여 국회외에서 책임을 지지 아니한다.
                    감사원은 원장을 포함한 5인 이상 11인 이하의 감사위원으로 구성한다. 대통령의 선거에 관한 사항은 법률로 정한다. 국군은 국가의 안전보장과 국토방위의 신성한 의무를 수행함을 사명으로 하며, 그 정치적 중립성은 준수된다.
                </p>
            </div>
            <div id="board-review">
                <h3><span>4개</span>의 크루원 리뷰가 있습니다</h3>
                <div class="board-reviews">
                    <h4></h4>
                    <p></p>
                </div>
                <div id="create-review">
                    <input type="text" placeholder="리뷰 작성하기 (크루원만 작성할 수 있습니다)">
                    <button>댓글 작성</button>
                </div>
            </div>

            <div id="board-recommand">
                <h3>현재 모집중인 다른 동아리도 추천해드려요</h3>
                <ul>
                    <li>운동이 재밌습니다</li>
                </ul>
                <div id="cre">
                    리뷰 작성하기
                </div>
            </div>




        </div>
        <div id="aside">
            <div id="aside-card">
                <p>동아리명은 현재</p>
                <p>크루 모집중입니다</p>
                <div>
                    <p>모집기간</p>
                    <p>2023.04.02</p>
                    <p>(6일 남았어요)</p>
                </div>
                <div>
                    <button>동아리에 합류하기</button>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">footer</div>
</div>

</body>
</html>