<!DOCTYPE html>
<th:block th:replace="module/common-css :: head-fragment"></th:block>


<body>
<link href="/assets/css/default.css" rel="stylesheet">
<!-- ======= Header ======= -->
<th:block th:replace="include/header :: header-fragment"></th:block>
<!-- End Header -->

<!-- ======= Body ======= -->
<!-- 구성하고자 하는 화면 설계 -->
<main id="main" class="col">

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="section-header mt-5 mb-5">
                <div class="all-post-title">크루즈에는 현재 <span class="span-color">[[ ${boardCount} ]]개의 동아리</span>가 활동하고 있습니다.</div>
                <div class="text-center fw-semibold defaultFontColor">나의 관심사와 같은 사람들과 함께해요</div>
            </div>

            <div class="container" data-aos="fade-up">

                <div class="row g-5">

                    <div class="col-lg-12">

                        <div class="row gy-4 posts-list">

                            <div class="col-lg-3" th:each="board : ${boardList}">

                                <article class="d-flex flex-column card-body" th:onclick="|location.href='/boards/${board.boardNo}'|">

                                    <div>
                                        <span th:if="${#dates.createNow() &lt;= board.endDate}" class="badge rounded-pill bg-warning text-dark mt-2">모집중<i class="fas fa-bullhorn"></i></span>
                                        <span th:if="${board.startDate != null} and ${#dates.createNow() &gt; board.endDate}" class="badge rounded-pill bg-gray text-white mt-2">모집완료</span>
                                        <span th:if="${board.startDate == null}" class="badge rounded-pill bg-gray text-white mt-2">모집 전</span>
                                    </div>

                                    <h2 class="title" th:text="${board.boardTitle}">
                                    </h2>

                                    <div class="content">
                                        <p th:text="${board.boardPreContent}"></p>
                                    </div>
                                    <hr>
                                    <div class="period">
                                        <span class="me-2" th:unless="${board.endDate} == null">모집기간</span><span class="fw-bold" th:unless="${board.endDate} == null" th:text="| ${board.endDate} 까지 |"></span>
                                        <span class="me-2" th:if="${board.endDate} == null">모집기간 <span class="fw-bold">미정</span></span>
                                    </div>
                                </article>

                            </div><!-- End post list item -->

                        </div><!-- End blog posts list -->

                    </div>

                </div>

            </div>

        </div>
    </section><!-- End Inner Page -->

</main><!-- End #main -->
<!-- End Body -->

<!-- ======= Footer ======= -->
<th:block th:replace="include/footer :: footer-fragment"></th:block>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<th:block th:replace="module/commonJs :: common-js"></th:block>

</body>

</html>