<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>동아리 수정 페이지</title>

    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/default.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/board.css" />
</head>
<body>
<div class="wrap">
    <!-- ======= Header ======= -->
    <div th:replace="~{/include/header}"></div>
    <!-- End Header -->
<!--    <div class="header">-->
<!--        <div></div>-->
<!--    </div>-->
    <div class="editing-container">
        <div class="editing-title">
            <h1>동아리 게시글 정보 수정하기</h1>
        </div>
        <form method="POST" th:action="@{'/boards/' + ${board.boardNo}}">
            <div class="editing-contents">
                <div class="editing-content-s">
                    <p>동아리 이름</p>
                    <textarea readonly name="boardTitle" placeholder="동아리명을 입력해주세요" th:text="${board.boardTitle}"></textarea>
                </div>
                <div class="editing-content-s">
                    <p>동아리 짧은 소개</p>
                    <textarea name="boardPreContent" placeholder="동아리 짧은 소개를 입력해주세요" th:text="${board.boardPreContent}"></textarea>
                </div>
                <div class="editing-content-l">
                    <p>동아리명 : 어떤 동아리인가요?</p>
                    <textarea name="boardContent" placeholder="boardContent" th:text="${board.boardContent}"></textarea>
                </div>
                <div class="editing-content-l">
                    <p>저희는 주로 이런 활동을 해요</p>
                    <textarea name="boardActiveContent" placeholder="boardActiveContent" th:text="${board.boardActiveContent}"></textarea>
                </div>
                <div class="editing-content-l">
                    <p>일정은 다음과 같아요 </p>
                    <textarea name="boardRegularContent" placeholder="boardRegularContent" th:text="${board.boardRegularContent}"></textarea>
                </div>
                <div class="editing-content-l">
                    <p>기타사항은 다음과 같아요</p>
                    <textarea name="boardEtcContent" placeholder="boardEtcContent" th:text="${board.boardEtcContent}"></textarea>
                </div>
            </div>
            <button type="submit">동아리 정보 수정 완료</button>
        </form>
    </div>

    <div id="footer">footer</div>
</div>

</body>
</html>