<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>동아리 상세 페이지</title>
    <link rel="stylesheet" href="/assets/css/board.css" />
</head>
<body>
<div id="wrap">
    <div id="header">
        <div></div>
    </div>
    <div id="container">
        <div id="contents">
            <div id="board-title">
                <h1 th:text="${board.boardTitle}"></h1>
                <h2 th:text="${board.boardPreContent}"></h2>
            </div>
            <div id="board-categories">
                <ul>
                    <li><a>카테고리1</a></li>
                    <li><a>카테고리2</a></li>
                    <li><a>카테고리3</a></li>
                </ul>
            </div>
            <div id="board-content">
                <h3 class="board-contents">[[${board.boardTitle}]]: 어떤동아리인가요?(동아리소개)</h3>
                <p class="board-contents-p" th:text="${board.boardContent}"></p>
                <h3 class="board-contents">활동내용</h3>
                <p class="board-contents-p"  th:text="${board.boardActiveContent}"></p>
                <h3 class="board-contents">정기모임</h3>
                <p class="board-contents-p" th:text="${board.boardRegularContent}"></p>
                <h3 class="board-contents">기타</h3>
                <p class="board-contents-p" th:text="${board.boardEtcContent}"></p>
            </div>
            <div id="board-review">
                <h3><span th:text="${replyCount}"></span>개의 크루원 리뷰가 있습니다</h3>
                <div class="board-reviews" th:each="reply : ${replys}">
                    <h4 th:text="${reply.getUserId()}"><span>동아리장</span></h4>
                    <p th:text="${reply.getReplyContent()}"></p>
                    <div>
                        <button class="update-review">수정</button>
                        <button class="delete-review">삭제</button>
                    </div>
                </div>
                <form method="POST" th:action="@{'/boards/' + ${board.boardNo} + '/replys'}">
                    <div id="create-review">
                        <textarea name="replyContent" placeholder="리뷰 작성하기 (크루원만 작성할 수 있습니다)"></textarea>
                        <button type="submit">댓글 작성</button>
                    </div>
                </form>
            </div>

            <div id="board-recommand">
                <h3>현재 모집중인 다른 동아리도 추천해드려요</h3>
                <div>
                    <div class="card">
                        <div>
                            <div>
                                <h4>크로스핏 동아리</h4>
                                <p>크로스핏 동아리입니다. 현재 2기 모집중입니다</p>
                                <hr>
                                <span>모집기간</span>
                                <p>2023.04.02</p>
                                <span>까지</span>
                            </div>
                            <div class="card-categories">
                                <ul>
                                    <li><a>카테고리1</a></li>
                                    <li><a>카테고리2</a></li>
                                    <li><a>카테고리3</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div>
                            <div>
                                <h4>크로스핏 동아리</h4>
                                <p>크로스핏 동아리입니다. 현재 2기 모집중입니다(3줄까지 작성 가능하게 만들어봅시다)</p>
                                <hr>
                                <span>모집기간</span>
                                <p>2023.04.02</p>
                                <span>까지</span>
                            </div>
                            <div class="card-categories">
                                <ul>
                                    <li><a>카테고리1</a></li>
                                    <li><a>카테고리2</a></li>
                                    <li><a>카테고리3</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div>
                            <div>
                                <h4>크로스핏 동아리</h4>
                                <p>크로스핏 동아리입니다. 현재 2기 모집중입니다(3줄까지 작성 가능하게 만들어봅시다)</p>
                                <hr>
                                <span>모집기간</span>
                                <p>2023.04.02</p>
                                <span>까지</span>
                            </div>
                            <div class="card-categories">
                                <ul>
                                    <li><a>카테고리1</a></li>
                                    <li><a>카테고리2</a></li>
                                    <li><a>카테고리3</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="aside">
            <div id="aside-card">
                <p class="aside-card-title">[[${board.boardTitle}]]은 현재</p>
                <p class="aside-card-title" th:if="${dDay != null}">크루 모집중입니다</p>
                <p class="aside-card-title" th:unless="${dDay != null}">크루 모집중이 아닙니다</p>

                <div id="join-period">
                    <p>모집기간</p>
                    <p>2023.04.02</p>
                    <p th:if="${dDay != null}">(<span th:text="${dDay}"></span>일 남았어요)</p>
                </div>
                <div>
                    <button id="club-join-btn">동아리에 합류하기</button>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">footer</div>
</div>

</body>
</html>