<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>crew.z circleLeaderPage</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link th:replace="~{/module/commonCss}">

</head>

<body>
<link href="assets/css/default.css" rel="stylesheet">

<!-- ======= Header ======= -->
<div th:replace="~{/include/header}"></div>
<!-- End Header -->

<!-- ======= Body ======= -->
<!-- 구성하고자 하는 화면 설계 -->
<main id="main" class="col">
    <form id="form2" action="/clubleaderpage" method="post">
        <input type="hidden" name="clubNo" id="clubNo2" value="">
        <!--<input type="hidden" name="userGrade" id="userGrade" value="">-->

    </form>


    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" style="background-color: whitesmoke;">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button th:onclick="|location.href='@{/mypagemain}'|" class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="true">마이페이지</button>
                        <th:block th:each="clubLeader:${clubLeader}">
                            <button th:if="${clubLeader.club_user_grade==2}" class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false" th:onclick="|javascript:goLeaderPage('${clubLeader.club_no}')|" th:classappend="${postClubNo} == ${clubLeader.club_no} ? 'active' " >[[${clubLeader.club_name}]]동아리 신청 현황</button>
                        </th:block>
                    </div>
                </nav>
            </div>

        </div>
    </div><!-- End Breadcrumbs -->

  <!--  <div class="container">
        <div class="clubinfo-list">
            <a th:onclick="|javascript:selectList('0')|">동아리 신청회원 리스트</a>
            <a th:onclick="|javascript:selectList('1')|">동아리원 리스트</a>
        </div>
    </div>-->
    <!-- ======= Blog Section ======= -->
    <section class="club-leader-page">

        <!--동아리원 신청현황 관리-->

                <div class="section-header">
                    <h2><span style="color: salmon; font-weight: bold">[[${clubName.clubName}]]</span>동아리 신청현황</h2>
                </div>

                <div class="container">
                <div class="row gy-4">
                    <form id="form" method="post" action="/applyMem">
                        <input type="hidden" id="method" name="method" value=""/>
                        <input type="hidden" id="userNo" name="userNo" value=""/>
                        <input type="hidden" id="clubNo" name="clubNo" value=""/>
                    </form>

                        <table class="table table-hover text-center table-bordered">
                            <thead>
                            <tr class="table-info ">
                                <th>#</th>
                                <th>이름</th>
                                <th>닉네임</th>
                                <th>전화번호</th>
                                <th>이메일</th>
                                <th>가입승인</th>
                                <th>가입반려</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each = "clubInfo, clubState : ${clubInfo}" >
                                <th th:text = "${clubState.count}"></th>
                                <th th:text = "${clubInfo.user_name}"></th>
                                <td th:text = "${clubInfo.user_nickname}"></td>
                                <td th:text = "${clubInfo.user_tel}"></td>
                                <th th:text = "${clubInfo.user_email}"></th>
                                <td th:if="${clubInfo.club_user_grade} == 0" class="joinBtn"><button th:onclick="|javascript:upgradeUserGrade('${clubInfo.user_no}','${clubInfo.club_no}','ok')|" type="button" class="btn btn-outline-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                                    </svg>
                                    승인
                                </button></td>
                                <td th:if="${clubInfo.club_user_grade} == 0" class="joinBtn"><button th:onclick="|javascript:upgradeUserGrade('${clubInfo.user_no}','${clubInfo.club_no}','nok')|" type="button" class="btn btn-outline-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"></path>
                                    </svg>
                                    거절
                                </button></td>
                            </tr>
                            </tbody>
                        </table>
                    <!-- 거절 확인 모달 -->
                    <div id="prompt-modal" class="modal">
                        <div class="modal-content">
                            <span class="modal-close" onclick="closePrompt()">&times;</span>
                            <h4><span style="color: red">거절버튼</span>을 클릭하시면 해당 유저에 대한 정보는 모두 사라집니다.</h4>
                            <button type="button" class="btn btn-outline-warning" onclick="closePrompt()">보류</button>
                            <button type="button" class="btn btn-outline-danger" onclick="submitPrompt()">거절</button>
                        </div>
                    </div>
                    <!-- 모달 END    -->
                </div>
                </div>

    </section>


</main><!-- End #main -->
<!-- End Body -->

<!-- ======= Footer ======= -->
<div th:replace="~{/include/footer}"></div>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<link th:replace="~{/module/commonJs}">

</body>

<script th:inline="javascript">
    function upgradeUserGrade(userNo,clubNo,method){
        document.getElementById("userNo").value = userNo;
        document.getElementById("clubNo").value = clubNo;
        document.getElementById("method").value = method;

        if(method === 'nok') {
            openPrompt();
        } else {
            document.getElementById("form").submit();
        }

    }

    function openPrompt(){
        document.getElementById("prompt-modal").style.display = "block";
    }

    function closePrompt(){
        document.getElementById("prompt-modal").style.display = "none";
    }
    function submitPrompt(){
        document.getElementById("form").submit();
    }

    function goLeaderPage(clubNo){
        document.getElementById("clubNo2").value = clubNo;
        document.getElementById("form2").submit();
    }


    // function selectList(clubUserGrade) {
    //     document.getElementById("userGrade").value = clubUserGrade;
    //     document.getElementById("form2").submit();
    // }
</script>

</html>