<!DOCTYPE html>
<th:block th:replace="module/common-css :: head-fragment"></th:block>

<body>
<link href="/assets/css/default.css" rel="stylesheet">
<!-- ======= Header ======= -->
<th:block th:replace="include/header :: header-fragment"></th:block>
<!-- End Header -->

<!-- ======= Body ======= -->
<!-- 구성하고자 하는 화면 설계 -->
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <ol>
                    <li><a th:href="@{/main}">Home</a></li>
                    <li>Inner Page</li>
                </ol>
            </div>

        </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section class="inner-page">
        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>Inner Page</h2>
                <p>Example inner page template</p>
            </div>

            <p>
                You can duplicate this page and create any number of pages you like!
            </p>

        </div>
    </section><!-- End Inner Page -->

</main><!-- End #main -->
<!-- End Body -->

<!-- ======= Footer ======= -->
<th:block th:replace="include/footer :: footer-fragment"></th:block>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<th:block th:replace="module/commonJs :: common-js"></th:block>

</body>

</html>