<!DOCTYPE HTML>
<th:block th:replace="module/common-css :: head-fragment"></th:block>

<body class="text-center">
<link href="/assets/css/sign-in.css" rel="stylesheet">
<link href="/assets/css/default.css" rel="stylesheet">
<!-- ======= Header ======= -->
<th:block th:replace="include/header :: header-fragment"></th:block>
<!-- End Header -->

<!-- ======= Body ======= -->
<!-- Main -->
<main class="w-100 m-auto">
    <div class="container" id="signup-con">
        <h1 class="h3 mb-3 fw-bold">회원가입</h1>
            <form method="POST" id="form" action="/signup" class="needs-validation" onsubmit="return validationCheck();" novalidate>
                <div class="row mb-3 form-floating form-group has-validation">
                    <input type="text" class="form-control" id="inputName" name="userName" placeholder="사용자 이름" required>
                    <label for="inputName">이름</label>
                    <div class="invalid-feedback">
                        이름을 입력하세요.
                    </div>
                </div>
                <div class="row mb-3 form-floating form-group has-validation">
                    <input type="text" class="form-control" id="inputNickname" name="userNickname" placeholder="사용자 닉네임"
                           pattern="[가-힣a-zA-Z0-9]{2,10}" required>
                    <label for="inputNickname">닉네임</label>
                    <div class="invalid-feedback">
                        닉네임은 특수문자를 포함하지 않은 2~10자리입니다.
                    </div>
                </div>
                <div class="row mb-3 form-floating form-group has-validation">
                    <input type="text" class="form-control" id="inputID" name="userId" placeholder="사용자 아이디"
                           pattern="[a-z0-9]{4,20}" required>
                    <label for="inputID">아이디</label>
                    <div id="idstyleFeedback" class="invalid-feedback">
                        아이디는 영어 소문자와 숫자만 사용하여 4~20자리입니다.
                    </div>
                    <div id="duplicateFeedback" class="invalid-feedback">
                        아이디가 이미 사용 중입니다.
                    </div>
                </div>
                <div class="row mb-3 form-floating form-group has-validation">
                    <input type="password" class="form-control" id="inputPassword1" name="userPassword" placeholder="사용자 비밀번호"
                           pattern="(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,16}" required>
                    <label for="inputPassword1">비밀번호</label>
                    <div class="invalid-feedback">
                        비밀번호는 8~16자리수입니다. 영문 대소문자, 숫자, 특수문자를 1개 이상 포함해야 합니다.
                    </div>
                </div>
                <div class="row mb-3 form-floating form-group has-validation">
                    <input type="email" class="form-control" id="inputEmail" name="userEmail" placeholder="사용자 이메일" required>
                    <label for="inputEmail">이메일</label>
                    <div class="invalid-feedback">
                        이메일 형식에 맞지 않습니다.
                    </div>
                </div>
                <div class="row mb-3 form-floating form-group has-validation">
                    <input type="tel" class="form-control" id="inputTel" name="userTel"
                           placeholder="사용자 전화번호" pattern="[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}" required>
                    <label for="inputTel">전화번호</label>
                    <div class="invalid-feedback">
                        전화번호를 입력하세요.
                    </div>
                </div>
            <button type="submit" class="btn btn-y">가입 완료</button>
        </form>
    </div>
</main>
<!-- ======= Footer ======= -->
<th:block th:replace="include/footer :: footer-fragment"></th:block>
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<th:block th:replace="module/commonJs :: common-js"></th:block>
</body>
<script>
    function validationCheck(){
        const inputId = document.getElementById("inputID").value;
        const inputNickname = document.getElementById("inputNickname").value;
        const inputName = document.getElementById("inputName").value;
        const inputPassword1 = document.getElementById("inputPassword1").value;
        const inputEmail = document.getElementById("inputEmail").value;
        const inputTel = document.getElementById("inputTel").value;
        const form = document.getElementById("form");
        if(inputId === ''){
            document.getElementById("duplicateFeedback").style.display = "none";
            document.getElementById("idstyleFeedback").style.display = "block";
            return false;
        }else if(inputNickname === '' || inputNickname === '' || inputName === '' || inputPassword1 === '' || inputEmail === '' || inputTel === ''){
            return false;
        }else{
            const xhr = new XMLHttpRequest();
            xhr.open('GET', `/signup/validationCheck/${inputId}`);

            xhr.onload = function() {
                console.log(xhr.status);
                if (xhr.status === 200) {
                    console.log(xhr.responseText);
                    const msg = xhr.responseText;
                    if(msg === "success"){
                        //아이디 중복
                        document.getElementById("inputID").focus();
                        document.getElementById("duplicateFeedback").style.display = "block";
                        document.getElementById("idstyleFeedback").style.display = "none";
                        document.getElementById("inputID").style.borderColor = "#dc3545";
                        document.getElementById("inputID").style.boxShadow = "0 0 0 0.25rem rgba(220,53,69,.25)";
                        document.getElementById("inputID").classList.add("is-invalid");
                    }else{
                        form.submit();
                    }
                }
            }

            xhr.send();
        }
        return false;
    }
    // 하이픈 자동입력
    const inputElement = document.getElementById("inputTel");
    inputElement.addEventListener("input", function (event) {
        const inputValue = event.target.value;
        const formattedValue = autoHyphen(inputValue);
        event.target.value = formattedValue;
    });
    function autoHyphen(value) {
        if (!value) {
            return "";
        }

        value = value.replace(/[^0-9]/g, "");

        let result = [];
        let restNumber = "";

        // 지역번호와 나머지 번호로 나누기
        if (value.startsWith("02")) {
            // 서울 02 지역번호
            result.push(value.substr(0, 2));
            restNumber = value.substring(2);
        } else if (value.startsWith("1")) {
            // 지역 번호가 없는 경우
            // 1xxx-yyyy
            restNumber = value;
        } else {
            // 나머지 3자리 지역번호
            // 0xx-yyyy-zzzz
            result.push(value.substr(0, 3));
            restNumber = value.substring(3);
        }

        if (restNumber.length === 7) {
            // 7자리만 남았을 때는 xxx-yyyy
            result.push(restNumber.substring(0, 3));
            result.push(restNumber.substring(3));
        } else {
            result.push(restNumber.substring(0, 4));
            result.push(restNumber.substring(4));
        }

        return result.filter((val) => val).join("-");
    }
</script>
</html>