<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.crewz.mapper.UserDTO">
    <select id="getUsers" resultType="com.example.crewz.mapper.UserDTO">
        SELECT * FROM users;
    </select>
    <insert id="insertUser" parameterType="com.example.crewz.mapper.UserDTO" keyProperty="idx">
        INSERT INTO users(userid,password) VALUES (#{userid}, #{password})
    </insert>
    <update id="updateUser" parameterType="com.example.crewz.mapper.UserDTO">
        UPDATE users SET password = #{password} WHERE userid = #{userid}
    </update>
    <delete id="deleteUser" parameterType="com.example.crewz.mapper.UserDTO">
        DELETE FROM users WHERE userid = #{userid}
    </delete>
</mapper>